table {
    border: gray 1px solid;
    padding: 20px;
    margin: 20px;
    border-collapse: collapse;
}

table th, table td {
    padding: 5px;
    border: gray 0.5px solid;
    border-collapse: collapse;
}